/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
.btn-primary {
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    border: none;
    padding: 15px 25px;
}

.gray {
    color: rgb(114, 114, 114);
}

.black {
    color: rgb(19, 19, 19);
}

.orange {
    color: rgb(255, 144, 14);
}

* {
    font-family: "Work Sans", sans-serif;

}

/* header section styles start */
header {
    background: rgba(255, 144, 14, 0.1);
    padding: 30px 140px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 25px;
    color: rgb(66, 66, 66);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

ul li a {
    text-decoration: none;
}

/* nav section styles end */

/* banner section styles start*/
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0px;
}

.banner-description {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner img {
    width: 100%;
    margin-top: 30px;
}

/* header end */

/* main start */
main {
    max-width: 1340px;
    margin: 0px auto;
}

.teams-container {
    display: flex;
    align-items: center;
    margin: 80px 0px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.teams-description {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0px;
}



/* facts section styles */
.facts-title {
    color: rgb(19, 19, 19);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0px;
}

.facts-description {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}

.facts-card-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    margin-top: 50px;
    text-align: center;
}

.card {
    border: 1px solid orange;
    border-radius: 6px;
    width: 15%;
    padding: 40px 5px;
}

.card img {
    margin-bottom: 5px;
}

.card-state {
    color: rgb(66, 66, 66);
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.card-title {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5px;
}

.sponsors-content {
    text-align: center;
    margin: 50px 0px;
}

.sponsors-title {
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.sponsors-description {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer {
    width: 85%;
    margin: 20px auto;
    border-radius: 8px;
    padding: 20px 15px;
    background: rgb(255, 244, 231);
    text-align: center;
}

/* respondive styles */
@media screen and (max-width: 576px) {

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .facts-content {
        margin-left: 50px;
    }

    .card {
        width: 80%;
        margin: 15px auto;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    header,
    .sponsors-img-container {
        padding: 30px;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 30px;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    .teams-content {
        margin-bottom: 30px;
    }
}